body{
    background-color: rgba(211, 211, 211, 0.884);
}
ul{
    list-style: none;
}

.list-item{
    border: 2px solid orange;
    padding: 6px;
    border-radius: 5px;
    cursor:  pointer;
    
}

.selected{
   
    background-color: rgb(247, 219, 61);
}
.completed {
  text-decoration: line-through;
  color: gray;
  opacity: 0.7;
}
